# Python Beta

## Python Beta 000

## Python Beta 100

## Python Beta 101

In [1]:
# Assigning value to variables!!

Allah_names = 99

print(Allah_names)

99

In [2]:
# Dynamic typing in Python

alnafi_portal = 1
alnafi_portal = ["cissp" , "oscp"]

print(alnafi_portal)

['cissp', 'oscp']

In [3]:
# Dynamic Updating

a = 10
print(a)

10

In [4]:
# Dynamic Updating

a = a + a
print(a)

20

In [5]:
# Dynamic Updating

a = a + a
print(a)

40

In [6]:
# Dynamic Updating

a = a + a
print(a)

80

In [7]:
# Dynamic Updating

a = a + a
print(a)

160

In [8]:
# Finding types

a = 10
type(a)

int

In [11]:
# Finding types

b = 10.5
print(type(b)) # showing class in output just because of print in the input

<class 'float'>

In [13]:
# Adding Assigning variables

alnafi_cyber_track_courses = 10
alnafi_digital_forensics_courses = 12
alnafi_total_courses = alnafi_cyber_track_courses + alnafi_digital_forensics_courses
print(alnafi_total_courses)

22

## Python Beta 102

In [14]:
# String

"Islam is the Religion of Peace"

'Islam is the Religion of Peace'

In [15]:
# String

print("Islam is the Religion of Peace")

Islam is the Religion of Peace

In [16]:
# \n

print("Islam is the Religion \n of Peace")

Islam is the Religion
 of Peace

In [17]:
# \t

print("Islam is the Religion \t of Peace")

Islam is the Religion 	 of Peace

In [18]:
# length function

print(len('Islam'))

5

In [19]:
# Index

my_string = "Islam is the Religion of Peace"
my_string[-1]

'e'

In [20]:
# Slicing

my_string = "Muhammad"
my_string[2:]

'hammad'

In [21]:
# Slicing

my_string[:2]

'Mu'

In [22]:
# Slicing in Python

my_string[::3]

'Maa'

In [25]:
# jump step

my_string[2:3:2]

'c'

In [24]:
# start stop jump

my_string = "abcdefghi"
my_string[2:7:2]

'ceg'

In [26]:
# reverse string

my_string[::-2]

'igeca'

In [27]:
# slicing

my_string = "Manzar"
last_letters = my_string[1:]
print(last_letters)

anzar

In [28]:
# Concatenation

name = 'M' + last_letters
print(name)

Manzar

In [33]:
# Concatenation

a = "Salam"
print(a + " " + "means peace")

Salam means peace

In [35]:
# Concatenation

letter = 'a'
print(letter*6)

aaaaaa

In [36]:
# Concatenation

print('5' + '5')

55

In [37]:
# Concatenation

print(5 + 5)

10

In [2]:
# Uppercase

x = "Al Nafi"
x.upper()

'AL NAFI'

In [3]:
# Lowercase

x = "Al Nafi"
x.lower()

'al nafi'

In [4]:
# split

x = "Al Nafi"
x.split()

['Al', 'Nafi']

In [5]:
# Skip s through split

x = "Islam is the Religion of Peace"
x.split('s')

['I', 'lam i', ' the Religion of Peace']

In [6]:
# Skip i through split

x = "Islam is the Religion of Peace"
x.split('i')

['Islam ', 's the Rel', 'g', 'on of Peace']

In [14]:
# Injecting a variable into a string

print('Al Nafi is a {}'.format('Good Institute'))

Al Nafi is a Good Institute

In [15]:
# More Example

print("Al Nafi {0} {0} {0} {0}".format('is','a','good','institute'))

Al Nafi is is is is

In [16]:
# Example Continued

print("Al Nafi {0} {1} {0} {0}".format('is','a','good','institute'))

Al Nafi is a is is

In [17]:
# Example Continued

print("Al Nafi {0} {1} {2} {3}".format('is','a','good','institute'))

Al Nafi is a good institute

In [18]:
# Example Continued

result = 100/889

print("The result is {}".format(result))

The result is 0.1124859392575928

In [19]:
# Example Continued

result = 100/889

print("The result is {r}".format(r=result))

The result is 0.1124859392575928

In [20]:
# string interpolation

result = 100/889

print("The result is {r:1.4f}".format(r=result))

The result is 0.1125

In [21]:
# 'f string' method

name = 'Manzar'

print(f"Salam, my name is {name}")

Salam, my name is Manzar

In [22]:
# 'f string' method

name = 'Manzar'
age = 20

print(f"Salam, my name is {name} and I'm {age} years old")

Salam, my name is Manzar and I'm 20 years old

## Python Beta 107

In [23]:
# List

new_list = ['Manzar', 'Alam', 'Danish', 'Ali', 'Hashim']
print(new_list)

['Manzar', 'Alam', 'Danish', 'Ali', 'Hashim']

In [24]:
# pop

new_list.pop()

'Hashim'

In [25]:
# list calling

new_list

['Manzar', 'Alam', 'Danish', 'Ali']

In [26]:
# list

new_list.pop(0)

'Manzar'

In [27]:
# list calling

new_list

['Alam', 'Danish', 'Ali']

In [28]:
# sorting

new_list = ['a', 'b', 'd', 'e', 'c']
num_list = [3, 5, 4, 2, 1]
new_list.sort()
num_list.sort()

print(new_list)
print(num_list)

['a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5]

In [29]:
# reverse list

new_list = ['a', 'b', 'd', 'e', 'c']
num_list = [3, 5, 4, 2, 1]
new_list.reverse()
num_list.reverse()

print(new_list)
print(num_list)

['c', 'e', 'd', 'b', 'a']
[1, 2, 4, 5, 3]

In [30]:
# Dictionary

dict_1 = {'key1': 'value1', 'key2': 'value2'}
print(dict_1)

{'key1': 'value1', 'key2': 'value2'}

In [33]:
# Dictionary

dict_1['key1']

'value1'

In [34]:
# Real time use

price_lookup = {'pencil': 100, 'journal': 200}
price_lookup['pencil']

100

In [39]:
# numbers, list and dictionary in a dictionary

dic = {'k1': 312, 'k2': [1,2,3,4,5], 'k3': {'2key':200}}
print(dic)

{'k1': 312, 'k2': [1, 2, 3, 4, 5], 'k3': {'2key': 200}}

In [36]:
# Calling

dic['k2']

[1, 2, 3, 4, 5]

In [37]:
# Calling dictionary

dic['k3']

{'2kay': 200}

In [40]:
# Calling just value

dic['k3']['2key']

200

In [43]:
# Calling

dic['k2'][4]

5

In [44]:
# Dictionary

dic_1 = {'key1': ['ali', 'usman', 'abubakar']}
dic_1

{'key1': ['ali', 'usman', 'abubakar']}

In [47]:
# Storing

my_list = dic_1['key1']
print(my_list)

['ali', 'usman', 'abubakar']

In [48]:
# Calling particular name in upper case

name = my_list[2]
name.upper()

'ABUBAKAR'

In [49]:
# Short Code

dic_1['key1'][2].upper()

'ABUBAKAR'

In [50]:
# Dictionary

dic_2 = {'k1': 100, 'k2': 200}
print(dic_2)

{'k1': 100, 'k2': 200}

In [51]:
# inserting key in a dictionary

dic_2['k3'] = 300
print(dic_2)

{'k1': 100, 'k2': 200, 'k3': 300}

In [52]:
# Changing the Key Value

dic_2['k1'] = 'new value'
print(dic_2)

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [56]:
# Showing only keys

dic_2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [54]:
# Showing values only

dic_2.values()

dict_values(['new value', 200, 300])

In [57]:
# Showing keys and values both

dic_2.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

## Python Beta 108

In [62]:
# type function

s = {1,2,3}
type(s)

set

In [63]:
# type function

t = (1,2,3)
type(t)

tuple

In [64]:
# type function

my_list = [1, 2, 3, 4]
type(my_list)

list

In [65]:
# count

t = ('python', 'java', 'html', 'css', 'python')
t.count('python')

2

In [66]:
# count

t.count('html')

1

In [67]:
# count

t.count('C#')

0

In [68]:
# indexing

t.index('css')

3

In [69]:
# list

my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [70]:
# changing in list

my_list[0] = "Al Nafi"
print(my_list)

['Al Nafi', 2, 3]

In [71]:
# True

2 > 1

True

In [72]:
# False

1 > 2

False

In [73]:
# type

type(True)
type(False)

bool

## Python Beta 109

In [76]:
# Writing file

%%writefile my_file.txt
Assalam o Alaikum Wah Rahmatullah
This is Al Nafi Python Beta 109 Lecture
And we are going to learn input and output functions

Writing my_file.txt

In [78]:
# open above file

my_file = open('my_file.txt')
my_file.read()

'Assalam o Alaikum Wah Rahmatullah\nThis is Al Nafi Python Beta 109 Lecture\nAnd we are going to learn input and output functions\n'

In [79]:
# now empty because the file already read

my_file.read()

''

In [81]:
# Now we have to move our cursor from end the start

my_file.seek(0)

0

In [82]:
# Now we can read the file again

my_file.read()

'Assalam o Alaikum Wah Rahmatullah\nThis is Al Nafi Python Beta 109 Lecture\nAnd we are going to learn input and output functions\n'

In [83]:
# seek

my_file.seek(0)

0

In [84]:
# print only first line

my_file.readline()

'Assalam o Alaikum Wah Rahmatullah\n'

In [85]:
# now second line printing

my_file.readline()

'This is Al Nafi Python Beta 109 Lecture\n'

In [86]:
# seek

my_file.seek(0)

0

In [87]:
# readlines

my_file.readlines()

['Assalam o Alaikum Wah Rahmatullah\n',
 'This is Al Nafi Python Beta 109 Lecture\n',
 'And we are going to learn input and output functions\n']

In [89]:
# showing file directory

pwd

'C:\\Users\\hp'

## Python Beta 110

In [90]:
# Boolean

2 == 2

True

In [91]:
# Boolean

2 == 3

False

In [93]:
# Boolean

'Salam' == 'Samlikum'

False

In [94]:
# Boolean

1 < 2 > 3

False

In [95]:
# Boolean

('Manzar' == 'Manzar') and (10 == 10)

True

In [96]:
# Boolean

(1000 == 1000) or (2 == 3)

True

In [97]:
# Opposite Bool

not 1 == 1

False

In [98]:
# Opposite values

not 2 == 1

True

## Python Beta 110

In [99]:
# if

if True:
    print("It's true")

It's true

In [102]:
# if else

tired = True

if tired:
    print('sleep')
    
else:
    print("Get back to work")

sleep

In [103]:
# if else

tired = False

if tired:
    print('sleep')
    
else:
    print("Get back to work")

Get back to work

In [104]:
# if else

location = "Masjid"

if location == "Restuarant":
    print("Eat Tasty Food")
    
else:
    print("Pray your Salah!")

Pray your Salah!

In [105]:
# if else elif

location = "Bank"

if location == "Restuarant":
    print("Eat Tasty Food")
    
elif location == "Bank":
    print("Get some money from the ATM")
    
elif location == "Bakery":
    print("Buy a dozen of eggs")
    
elif location == "Masjid":
    print("Pray your Salah!")
    
else:
    print("Go back home")

Get some money from the ATM

In [106]:
# if else elif

location = "Bakery"

if location == "Restuarant":
    print("Eat Tasty Food")
    
elif location == "Bank":
    print("Get some money from the ATM")
    
elif location == "Bakery":
    print("Buy a dozen of eggs")
    
elif location == "Masjid":
    print("Pray your Salah!")
    
else:
    print("Go back home")

Buy a dozen of eggs

In [107]:
# if else elif

location = "University"

if location == "Restuarant":
    print("Eat Tasty Food")
    
elif location == "Bank":
    print("Get some money from the ATM")
    
elif location == "Bakery":
    print("Buy a dozen of eggs")
    
elif location == "Masjid":
    print("Pray your Salah!")
    
else:
    print("Go back home")

Go back home

## Python Beta 130

In [108]:
# for loop

my_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10, 11, 12]

for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12

In [109]:
# Check for even numbers

my_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10, 11, 12]

for num in my_list:
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12

In [110]:
# Check for odd numbers

my_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10, 11, 12]

for num in my_list:
    if num % 2 == 1:
        print(num)

1
3
5
7
9
11

In [111]:
# Check for both odd and even numbers

my_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10, 11, 12]

for num in my_list:
    if num % 2 == 0:
        print(f'even number: {num}')
        
    else:
        print(f'odd number: {num}')

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9
even number: 10
odd number: 11
even number: 12

In [112]:
# sum

my_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10, 11, 12]

list_sum = 0

for num in my_list:
    list_sum = list_sum + num

print(list_sum)

78

In [113]:
# sum 'same as above but just insert tap button once before print'

my_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10, 11, 12]

list_sum = 0

for num in my_list:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55
66
78

In [114]:
# print letters one by one through for loop

my_string = "Islam is the Religion of peace"

for letter in my_string:
    print(letter)

I
s
l
a
m

i
s

t
h
e

R
e
l
i
g
i
o
n

o
f

p
e
a
c
e

In [115]:
# Insert tuple in the list

list_tuple = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for item in list_tuple:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [116]:
# length

len(list_tuple)

5

In [117]:
# printing one by one

list_tuple = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for (a,b) in list_tuple:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [118]:
# only a

list_tuple = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for (a,b) in list_tuple:
    print(a)

1
3
5
7
9

In [120]:
# a,b,c

third_list = [(1,2,3),(4,5,6),(7,8,9)]

for (a,b,c) in third_list:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [121]:
# a,b,c

third_list = [(1,2,3),(4,5,6),(7,8,9)]

for (a,b,c) in third_list:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [122]:
# length

len(third_list)

3

In [126]:
# Dictionary

my_dict = {'k1': 100, 'k2': 200, 'k3': 300}

for item in my_dict.items():
    print(item)

('k1', 100)
('k2', 200)
('k3', 300)

In [129]:
# Dictionary

my_dict = {'k1': 100, 'k2': 200, 'k3': 300}

for key,value in my_dict.items():
    print(value)
    print(key)

100
k1
200
k2
300
k3

## Python Beta 150

In [134]:
# While loop

x = 0

while x < 10:
    print(f'The current vale of x is {x}')
    x = x + 1

The current vale of x is 0
The current vale of x is 1
The current vale of x is 2
The current vale of x is 3
The current vale of x is 4
The current vale of x is 5
The current vale of x is 6
The current vale of x is 7
The current vale of x is 8
The current vale of x is 9

In [136]:
# While loop with else

x = 0

while x < 10:
    print(f'The current vale of x is {x}')
    x = x + 1
    
else:
    print("x is not less than 10")

The current vale of x is 0
The current vale of x is 1
The current vale of x is 2
The current vale of x is 3
The current vale of x is 4
The current vale of x is 5
The current vale of x is 6
The current vale of x is 7
The current vale of x is 8
The current vale of x is 9
x is not less than 10

In [137]:
# While loop with else

x = 12

while x < 10:
    print(f'The current vale of x is {x}')
    x = x + 1
    
else:
    print("x is greater than 10")

x is greater than 10

In [138]:
# loop

my_string = 'Nafi'

for letter in my_string:
    if letter == 'f':
        break
    print(letter)

N
a

## Python Beta 160

In [140]:
# Insert string in the list

my_string = "Islam"

my_list = []

for letters in my_string:
    my_list.append(letters)
    
print(my_list)

['I', 's', 'l', 'a', 'm']

In [142]:
# Short Code

my_string = "Islam"

my_list = [letters for letters in my_string]

print(my_list)

['I', 's', 'l', 'a', 'm']

In [144]:
# More examples

my_string = 'Pakistan'

my_list = [x for x in my_string]

print(my_list)

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [145]:
# More Short code

my_list = [x for x in "Muhammad"]
print(my_list)

['M', 'u', 'h', 'a', 'm', 'm', 'a', 'd']

In [146]:
# Range

my_num = [b for b in range(0,11)]
print(my_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [147]:
# Range with power operator

my_num = [b**2 for b in range(0,11)]
print(my_num)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [149]:
# Even numbers

my_num = [b for b in range(0,11) if b % 2 == 0]
print(my_num)

[0, 2, 4, 6, 8, 10]

## Python Beta 170

In [150]:
# list

my_list = [1, 2, 3, 4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [151]:
# pop

my_list.pop()

5

In [152]:
# Calling

my_list

[1, 2, 3, 4]

In [153]:
# help

help(my_list.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [154]:
# help

help(my_list.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [155]:
# help

help(my_list.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [156]:
# help

help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [157]:
# help

help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [158]:
# help

help(AssertionError)

Help on class AssertionError in module builtins:

class AssertionError(Exception)
 |  Assertion failed.
 |
 |  Method resolution order:
 |      AssertionError
 |      Exception
 |      BaseException
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args